{% extends 'base.html' %}

{% block title %}Wedding{% endblock %}

{% block content %}

<div class="probootstrap-section">
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-md-offset-3 mb40 text-center">
          <h2>Nature Photos</h2>
          <p>Posted  on September 3, 2017</p>
        </div>
        <div class="col-md-6">
          <p>Far far away, behind the word mountains, far from the countries <a href="#">Vokalia and Consonantia</a>, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small.</p>
        </div>
        <div class="col-md-6">
          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 probootstrap-animate">
          <p><a href="{{ wedding_detail_list.wed_img1.url }}" class="image-popup"><img src="{{ wedding_detail_list.wed_img1.url }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by ProBootstrap.com"></a></p>
          <p><a href="{{ wedding_detail_list.wed_img2.url }}" class="image-popup"><img src="{{ wedding_detail_list.wed_img2.url }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by ProBootstrap.com"></a></p>
          <p><a href="{{ wedding_detail_list.wed_img3.url }}" class="image-popup"><img src="{{ wedding_detail_list.wed_img3.url }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by ProBootstrap.com"></a></p>
        </div>
        <div class="col-md-6 probootstrap-animate">
          <p><a href="{{ wedding_detail_list.wed_img4.url }}" class="image-popup"><img src="{{ wedding_detail_list.wed_img4.url }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by ProBootstrap.com"></a></p>
          <p><a href="{{ wedding_detail_list.wed_img5.url }}" class="image-popup"><img src="{{ wedding_detail_list.wed_img5.url }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by ProBootstrap.com"></a></p>
          <p><a href="{{ wedding_detail_list.wed_img6.url }}" class="image-popup"><img src="{{ wedding_detail_list.wed_img6.url }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by ProBootstrap.com"></a></p>
        </div>
      </div>

    </div>
  </div>

{% endblock %}